@model IEnumerable<ProjetoBackend.Models.Categoria>

@{
    ViewData["Title"] = "Categoria";
}
<div class="container">

    <h2>Categoria de Produto</h2>

    <p>
        <div class="btn btn-lg" style="background: #DC5F00">
            <a asp-action="Create" class="text-light text-decoration-none">Cadastrar</a>
        </div>
    </p>
    <table class="table table-responsive table-striped table-dark">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="text-primary text-decoration-none btn btn-outline-primary">Editar</a>
                        |
                        <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="text-danger text-decoration-none btn btn-outline-danger">Excluir</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>