@{
    ViewData["Title"] = "Página Inicial";
}
<div class="container">

    <div class="text-center">
        <h1 class="display-4">ProtMind</h1>
        <p>Conheça o futuro com o ProtMind com maior conforto em jogos digitais.</p>
        <h4>
            <p>
                Possos produtos possuem a maior qualidade do mercado!
            </p>
        </h4>
        <div class="">dentre eles:</div>

    </div>
</div>
