@model ProjetoBackend.Models.ItemCompra

@{
    ViewData["Title"] = "Editar";
}


<h4>Item da Compra</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemCompraId" />
            <div class="row">
                <input asp-for="CompraId" class="form-control" type="hidden" asp-items="ViewBag.CompraId" />

                <div class="col-12 col-md">
                    <div class="form-group">
                        <label asp-for="ProdutoId" class="control-label"></label>
                        <select asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
                        <span asp-validation-for="ProdutoId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md">
                    <div class="form-group">
                        <label asp-for="Quantidade" class="control-label"></label>
                        <input asp-for="Quantidade" class="form-control" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md mt-2">
                    <a asp-action="Index" class="text-danger text-decoration-none btn btn-outline-danger w-100">Cancelar</a>
                </div>
                <div class="d-sm-none d-md-block col-md-3 mt-2"></div>
                <div class="col-12 col-md mt-2">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-outline-primary w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
