@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Redefinir senha";
}

<h1>
    <p>
        Verificação de Email
    </p>
</h1>
<p>
    Para continuar acesse o link enviado via email.
</p>
